{% extends 'base.html.twig' %}
{% block title %}Ajouter une langue{% endblock %}

{% block body %}
    <div id="layoutSidenav"> 
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">AJOUT DE CARTE DANS UNE EDITION</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="{{ path('editions') }}">Editions</a></li>
                        <li class="breadcrumb-item active">Ajouter</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1>Ajouter une carte dans une editions</h1>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                           Mofication de la carte dans cette d'edition
                        </div>
                        <div class="card-body">
                        <div class="card-body">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            {{ form_end(form) }}
                        </div>
                        </div>                         
                    </div>
                </div>
            </main>          
        </div>
    </div>
{% endblock %}
